{% extends "layouts/site.html" %}

{% set title = "Клан "~clan.name %}

{% block content %}
<div class="container mt-4">
  {% include 'site/components/clan_tabs.html' %}

  {% if clan.header_file %}
  <div class="mb-4">
    <img src="{{ url_for('media', filename="clan/banner/" ~ clan.id ~ "/" ~ clan.header_file) }}" class="w-100 object-fit-cover rounded" alt="Баннер клана {{ clan.name }}" height="300">
  </div>
  {% endif %}

  <!-- Логотип и название -->
  <div class="card mb-4">
    <div class="card-body">
      <div class="d-flex align-items-center">
        {% if clan.logo_file %}
          <img src="{{ url_for('media', filename="clan/logo/" ~ clan.id ~ "/" ~ clan.logo_file) }}" class="object-fit-cover rounded me-3" alt="Логотип клана {{ clan.name }}" width="180" height="90">
        {% else %}
          <div class="bg-secondary rounded me-3 d-flex align-items-center justify-content-center" style="width:160px; height:80px;">
            <i class="fas fa-question fa-xl text-white"></i>
          </div>
        {% endif %}
        <div>
          <h2 class="mb-2">{{ clan.name }}</h2>
          <h5 class="text-muted mb-0">[{{ clan.short_name }}]</h5>
        </div>
      </div>
    </div>
    {% if current_user.is_authenticated %}
      <div class="card-footer text-end">
      {% set member = clan.members | selectattr("user.id", "equalto", current_user.id|int) | first %}

      {% if not member %}
        {% if clan.is_open %}
        <form action="{{ url_for('site.clan.join', clan_id=clan.id) }}" method="post">
          <button type="submit" class="btn btn-sm btn-primary">Вступить в клан</button>
        </form>
        {% else %}
        <span title="Вы не можете вступить, так как набор в клан закрыт">
          <button class="btn btn-sm btn-primary" disabled="disabled">Вступить в клан</button>
        </span>
        {% endif %}
      {% else %}
        {% if clan.leader_id == current_user.id %}
        <span title="Лидер не может покинуть собственный клан">
          <button class="btn btn-sm btn-danger" disabled >Покинуть клан</button>
        </span>
        {% else %}
        <form action="{{ url_for('site.clan.leave', clan_id=clan.id) }}" method="post">
          <button type="submit" class="btn btn-sm btn-danger">Покинуть клан</button>
        </form>
        {% endif %}
      {% endif %}
      </div>
    {% endif %}
  </div>

  <div class="row mb-4">
    <div class="col-xl-3">
      <div class="card text-center">
        <div class="card-body">
          <i class="fa-solid fa-calendar-days fa-2xl text-secondary"></i>
          <h5 class="card-title my-3 mb-0">Дата создания</h5>
        </div>
        <div class="card-footer">
          <time class="js-datetime" data-utc="{{ clan.created_at }}"></time>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card text-center">
        <div class="card-body">
          <i class="fa-solid fa-users fa-2xl text-info"></i>
          <h5 class="card-title my-3 mb-0">Статус набора</h5>
        </div>
        <div class="card-footer">
          {% if clan.is_open %}
            <span class="badge text-bg-success">Открыт</span>
          {% else %}
            <span class="badge text-bg-danger">Закрыт</span>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card text-center">
        <div class="card-body">
          <i class="fa-solid fa-crown fa-2xl text-warning"></i>
          <h5 class="card-title my-3 mb-0">Лидер клана</h5>
        </div>
        <div class="card-footer">
          <a href="{{ leader.id }}">{{ leader.username }}</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card text-center">
        <div class="card-body">
          <i class="fa-solid fa-link fa-2xl text-primary"></i>
          <h5 class="card-title mt-3 mb-0">Веб-сайт</h5>
        </div>
        <div class="card-footer">
          {% if clan.url %}
            <a href="{{ clan.url }}" target="_blank">{{ clan.url }}</a>
          {% else %}
            Не указан
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% if clan.description %}
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title mb-3">Описание</h5>
      <div>{{ clan.description|safe }}</div>
    </div>
  </div>
  {% endif %}

  <!-- Раздел "Участники" -->
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between text-bg-secondary py-2 px-4 mb-3 rounded">
        <span>Участники</span>
        <span>{{ members|length }}</span>
      </div>
      <div class="row">
        {% for member in members %}
        <div class="col-12 col-md-3 mb-3">
          <div class="card text-center h-100">
            <div class="card-body d-flex">
              <i class="fas fa-user-circle fa-3x me-2"></i>
              <div class="text-start">
                <p class="mb-0">{{ member.user.username }}</p>
                <small class="text-muted">с <time class="js-datetime" data-utc="{{ member.created_at }}"></time></small>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="col-12">
          <em class="text-muted">Пока нет участников.</em>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
