{% extends 'layouts/site.html' %}

{% set title = "Главная" %}

{% block content %}
{% if current_user.is_authenticated %}
<h1>Главная страница</h1>
<p>С возвращением, {{ current_user.username }}</p>
{% if has_privilege(Privileges.ADMIN_ACCESS_PANEL) %}
<a href="{{ url_for('admin.dashboard') }}">Админпанель</a>
{% endif %}
<a href="{{ url_for('site.logout') }}">Выход</a>
{% else %}
<a href="{{ url_for('site.login') }}">Вход</a>
<a href="{{ url_for('site.register') }}">Регистрация</a>
{% endif %}
{% endblock %}