{% extends 'layouts/site.html' %}

{% set title = "Профиль " ~ user.username %}

{% from "_macros.html" import background %}
{% block custom_css %}
  {{ background(current_user) }}
{% endblock %}

{% block content %}
<div class="container my-3">
  {% if user.userpage %}
  <div class="card rounded-3 shadow border-0 mb-3">
    <div class="card-body">{{ user.userpage|safe }}</div>
  </div>
  {% endif %}

  <div class="card rounded-3 shadow border-0 mb-3">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="d-flex gap-3">
            {% if user.avatar_file %}
            <img src="{{ url_for('media', filename="user/avatar/"~user.id~"/"~user.avatar_file) }}" alt="{{ user.username }} avatar" class="rounded" width="128" height="128">
            {% else %}
            <img src="https://ui-avatars.com/api/?name={{ user.username }}&size=128" alt="{{ user.username }} avatar" class="rounded" width="128" height="128">
            {% endif %}
            <div class="d-flex flex-column text-start">
              <h2 class="fw-medium">{{ user.username }}</h2>
              {% if user.username_aka %}
              <p class="mb-0 text-secondary">(a.k.a <span class="fw-medium">{{ user.username_aka }}</span>)</p>
              {% endif %}
              <p class="mb-0 mt-auto">
                <span class="badge text-bg-success">Онлайн</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-end">
          <div class="d-flex flex-column gap-3">
            <div class="">
              <span>Рейтинг в мире</span>
              <h2 class="mb-0">#1</h2>
            </div>
            <div class="">
              <span>Рейтинг в стране</span>
              <h2 class="mb-0">#1</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card rounded-3 shadow border-0">
    <div class="card-body text-center">
      {% for user_badge in user.badges %}
      <span class="badge text-bg-{{ user_badge.badge.color }}" {% if user_badge.badge.description %}data-bs-toggle="tooltip" data-bs-title="{{ user_badge.badge.description }}"{% endif %}>
        <i class="{{ user_badge.badge.icon }}"></i>
        <span>{{ user_badge.badge.name }}</span>
      </span>
      {% else %}
      <p class="mb-0">У этого пользователя нет ни одного бейджика!</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}