# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.venv/
env/
.env/
*.env

# Flask / Instance folder
instance/
*.db
*.sqlite3

# Migrations cache
migrations/__pycache__/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Media
/media/**
!/media/
!/media/user/
!/media/user/avatar/
!/media/user/avatar/999
!/media/user/background/
!/media/user/background/999
!**/.gitkeep

# Cache
.cache/
