# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# NPM
node_modules
**-lock.json
script.min.js

# Virtual environment
venv/
.venv/
env/
.env/
*.env

# Flask / Instance folder
instance/
*.db
*.sqlite3

# Migrations cache
migrations/__pycache__/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Игнорируем всё в media
media/*
!media/**/.gitkeep
!media/user/avatar/999/
!media/user/avatar/999/**


# Cache
.cache/
