{% extends 'layouts/admin.html' %}

{% set title = "Задачи" %}

{% block content %}
<h2 class="pb-3 mb-3 text-center border-bottom">
  <i class="fa-solid fa-list-check"></i>
  <span>{{ title }}</span>
</h2>
<table class="table table-striped text-center w-75 mx-auto align-middle">
  <thead>
    <tr>
      <th scope="col">Название задачи</th>
      <th scope="col">Время старта</th>
      <th scope="col">Следующий запуск</th>
      <th scope="col">Триггер</th>
      <th scope="col">Статус</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs %}
    <tr>
      <th scope="col">{{ job.id }}</th>
      <td>
        <time class="js-timeago" data-utc="{{ job.start_date }}" data-bs-toggle="tooltip">{{ job.start_date if job.start_date else "—" }}</time>
      </td>
      <td>
        <time class="js-timeago" data-utc="{{ job.next_run_time }}" data-bs-toggle="tooltip"></time>
      </td>
      <td>{{ job.trigger }}</td>
      <td>
        {% if job.next_run_time %}
        <span class="badge text-bg-success">Активна</span>
        {% else %}
        <span class="badge text-bg-warning">Приостановленна</span>
        {% endif %}
      </td>
      <td>
        <div class="btn-group btn-group-sm">
          <button 
            class="btn btn-sm btn-primary" title="Логи"
            data-api-url="{{ url_for('api.task.get_logs', job_name=job.id) }}"
            data-bs-toggle="modal"
            data-bs-target="#logsModal">
            <i class="fa-solid fa-table-list"></i>
          </button>
          {% if job.next_run_time %}
          <a href="#" class="btn btn-warning" title="Пауза">
            <i class="fa-solid fa-pause"></i>
          </a>
          {% else %}
          <a href="#" class="btn btn-success" title="Возобновить">
            <i class="fa-solid fa-play"></i>
          </a>
          {% endif %}
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="modal fade" id="logsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Логи задачи</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p class="mb-0 text-center" id="logsContent">
          <i class="fa-solid fa-spinner fa-spin"></i>
          <span>Загрузка данных...</span>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}