@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
}

.banner-image {
  height: 160px;
  background-size: cover;
  background-position: center;
}

.hero-image {
  max-width: 320px;
  height: auto;
  margin-top: -120px;
  position: relative;
  z-index: 1000;
}