{% extends 'layouts/admin.html' %}

{% set title = "Создание нового бейджика" %}

{% block content %}
<h2 class="py-3 mb-3 border-bottom text-center">
  <i class="fa-solid fa-certificate"></i>
  <span>{{ title }}</span>
</h2>

<form action="{{ url_for('admin.badge.create') }}" method="post">
  {{ form.hidden_tag() }}
  <table class="table table-striped w-50 mx-auto align-middle">
    <tbody>
      <tr>
        <td>{{ form.name.label }}</td>
        <td>{{ form.name() }}</td>
      </tr>
      <tr>
        <td>{{ form.description.label }}</td>
        <td>{{ form.description() }}</td>
      </tr>
      <tr>
        <td>{{ form.icon.label }}</td>
        <td>{{ form.icon(placeholder = "fa-solid fa-certificate") }}</td>
      </tr>
      <tr>
        <td>{{ form.color.label }}</td>
        <td>
          <select name="{{ form.color.name }}" id="{{ form.color.name }}" class="form-select">
            {% for k, v in form.color.choices %}
            <option value="{{ k }}">{{ v }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa-solid fa-floppy-disk"></i>
            <span>Создать бейджик</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
{% endblock %}