{% extends 'layouts/admin.html' %}

{% set title = "Редактирование пользователя "~user.username %}

{% set needed_privs = [
  Privileges.ADMIN_EDIT_USERS,
  Privileges.ADMIN_RESTRICT_USERS,
  Privileges.ADMIN_BAN_USERS,
  Privileges.ADMIN_LOCK_USERS
] %}

{% block content %}
<h2 class="pb-3 mb-3 text-center border-bottom">
  <i class="fa-solid fa-user"></i>
  <span>{{ title }}</span>
</h2>
<form action="{{ url_for('admin.edit_user', id=user.id) }}" method="post">
  {{ form.csrf_token() }}
  <table class="table table-striped align-middle">
    <tbody>
      <tr>
        <td>{{ form.id.label }}</td>
        <td>{{ form.id(value=user.id) }}</td>
      </tr>
      <tr>
        <td>{{ form.username.label }}</td>
        <td>{{ form.username(value=user.username) }}</td>
      </tr>
      <tr>
        <td>{{ form.username_aka.label }}</td>
        <td>{{ form.username_aka(value=user.username_aka or "") }}</td>
      </tr>
      <tr>
        <td>{{ form.email.label }}</td>
        <td>{{ form.email(value=user.email) }}</td>
      </tr>
      <tr>
        <td>{{ form.userpage.label }}</td>
        <td><textarea class="form-control" name="{{ form.userpage.name }}" id="{{ form.userpage.name }}" rows="5">{{ user.userpage or "" }}</textarea></td>
      </tr>
      <tr>
        <td>Статус</td>
        <td>
          {% set text, color = check_user_status(user.privileges) %}
          <span class="badge text-bg-{{ color }}">{{ text }}</span>
        </td>
      </tr>
      {% if has_privilege(Privileges.USER_SPONSOR) %}
      <tr class="table-info">
        <td>Срок "Спонсора" истекает</td>
        <td><time class="js-timeago" data-utc="{{ user.sponsor_expire }}"></time></td>
      </tr>
      {% endif %}
      <tr>
        <td class="align-top" style="width: 50%; white-space: normal; word-wrap: break-word;">Привилегии<br><small>Не нажимайте "USER_PUBLIC" и/или "USER_NORMAL"<br>Вместо этого используйте кнопки "запретить" / "ограничить", чтобы избежать путаницы</small></td>
        <td>
          <ul class="list-group">
            {% for privilege in get_privileges(user.privileges) %}
            <li class="list-group-item">
              <input
                class="form-check-input me-1"
                type="checkbox"
                value="{{ privilege.value }}"
                name="privilege"
                id="{{ privilege.name }}"
                {% if privilege.checked %}checked{% endif %}
                {% if privilege.disabled %}disabled{% endif %}
                onclick="updatePrivileges()"
              >
              <label class="form-check-label" for="{{ privilege.name }}">{{ privilege.name }}</label>
            </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>{{ form.privileges_value.label }}</td>
        <td>{{ form.privileges_value(value=user.privileges) }}</td>
      </tr>
      <tr>
        <td>Группа привилегий</td>
        <td>
          <select name="privileges-group" id="privileges-group" class="form-select" onchange="groupUpdated();">
            <option value="-1">None</option>
            {% for privilege in render_privileges_groups(user.privileges) %}
            <option value="{{ privilege.privileges }}" {% if privilege.selected %}selected{% endif %}>{{ privilege.name }} ({{ privilege.privileges }})</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>{{ form.country.label }}</td>
        <td>
          <select name="{{ form.country.name }}" id="{{ form.country.name }}" class="form-select"></select>
        </td>
      </tr>
      <tr class="text-center">
        <td colspan="2">{{ form.submit(class="btn btn-sm btn-primary") }}</td>
      </tr>
    </tbody>
  </table>
</form>

<div class="row">
  <div class="col-xl-6">
    <div class="card">
      <div class="card-header">Действия</div>
      <div class="card-body">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Профиль</a>
          <a href="{{ url_for('admin.give_sponsor', id=user.id) }}" class="list-group-item list-group-item-action list-group-item-warning">Выдать статус "Спонсор"</a>
          {% if has_privilege(Privileges.USER_SPONSOR) %}
          <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Снять статус "Спонсор"</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card">
      <div class="card-header text-uppercase">Опасная зона</div>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename="js/privileges.js") }}"></script>
{% endblock %}