{% extends 'layouts/admin.html' %}

{% set title = "Выдача статуса \"Спонсор\" для "~user.username %}

{% block content %}
<h2 class="pb-3 mb-3 text-center border-bottom">
  <i class="fa-solid fa-user"></i>
  <span>{{ title }}</span>
</h2>
<form action="{{ url_for('admin.give_sponsor', id=user.id) }}" method="post">
  {{ form.csrf_token() }}
  <table class="table table-striped w-50 mx-auto align-middle">
    <tbody>
      <tr>
        <td>{{ form.id.label }}</td>
        <td>{{ form.id(value=user.id) }}</td>
      </tr>
      <tr>
        <td>{{ form.username.label }}</td>
        <td>{{ form.username(value=user.username) }}</td>
      </tr>
      <tr>
        <td>{{ form.amount.label }}</td>
        <td>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-clock"></i></span>
            {{ form.amount }}
            <select name="{{ form.unit.name }}" id="{{ form.unit.name }}" class="form-select">
              {% for k, v in form.unit.choices %}
              <option value="{{ k }}">{{ v }}</option>
              {% endfor %}
            </select>
          </div>
          {% if form.amount.errors %}
            {% for error in form.amount.errors %}
              <div class="form-text text-danger">{{ error }}</div>
            {% endfor %}
          {% endif %}
          {% if form.unit.errors %}
            {% for error in form.unit.errors %}
              <div class="form-text text-danger">{{ error }}</div>
            {% endfor %}
          {% endif %}
        </td>
      </tr>
      <tr class="text-center">
        <td colspan="2">{{ form.submit }}</td>
      </tr>
    </tbody>
  </table>
</form>
{% endblock %}