<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="{{ url_for('admin.dashboard') }}">
    <i class="fa-solid fa-coins"></i>
    <span>VCM Admin Panel</span>
  </a>
  <div class="container-fluid justify-content-start flex-row">
    <ul class="navbar-nav flex-row d-md-none">
      <li class="nav-item text-nowrap">
        <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-list"></i>
        </button>
      </li>
    </ul>
    <ul class="navbar-nav ms-md-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://placehold.co/30" alt="{{ current_user.username }}" class="rounded-circle me-2">
          <span>{{ current_user.username }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end position-absolute mt-2">
          <li class="text-center">
            {% set group = get_privilege_group(current_user.privileges) %}
            {% if group %}
            <span class="badge text-bg-{{ group.color_class }}">{{ group.name }}</span>
            {% else %}
            <span class="badge text-bg-danger">Неизвестно ({{ current_user.privileges }})</span>
            {% endif %}
          </li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item" href="#">
              <i class="fa-solid fa-user"></i>
              <span>Профиль</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <i class="fa-solid fa-gear"></i>
              <span>Настройки</span>
            </a>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item text-danger" href="{{ url_for('site.logout') }}">
              <i class="fa-solid fa-right-from-bracket"></i>
              <span>Выход</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</header>