<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
  <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidebarMenuLabel"><b>V</b>irtual <b>C</b>rypto <b>M</b>ining<br><b>A</b>dmin <b>P</b>anel</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2 {{ is_active('admin.dashboard') }}" href="{{ url_for('admin.dashboard') }}">
            <i class="fa-solid fa-gauge-high"></i>
            <span>Главная</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2 {{ is_active_prefix('admin.user') }}" href="{{ url_for('admin.user.all') }}">
            <i class="fa-solid fa-users"></i>
            <span>Пользователи</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2 {{ is_active_prefix('admin.badge') }}" href="{{ url_for('admin.badge.all', page = 1) }}">
            <i class="fa-solid fa-certificate"></i>
            <span>Бейджики</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2 {{ is_active_prefix('admin.privileges') }}" href="{{ url_for('admin.privileges.all') }}">
            <i class="fa-solid fa-layer-group"></i>
            <span>Группы привилегий</span>
          </a>
        </li>
      </ul>
      <hr class="my-3">
      <ul class="nav flex-column mb-auto">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <i class="fa-solid fa-gear"></i>
            <span>Настройки</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Выход</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>