<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
  <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidebarMenuLabel">
        <i class="fa-solid fa-coins"></i>
        <span>VCM Admin Panel</span>
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
      <h6 class="sidebar-heading px-3 mb-2 text-body-secondary text-uppercase">Главная</h6>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('admin.dashboard') }}">
            <i class="fa-solid fa-gauge"></i>
            <span>Панель управления</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('admin.cryptocurrency.all') }}">
            <i class="fa-solid fa-coins"></i>
            <span>Криптовалюты</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('admin.privileges_groups') }}">
            <i class="fa-solid fa-layer-group"></i>
            <span>Группы привилегий</span>
          </a>
        </li>
      </ul>
      <h6 class="sidebar-heading px-3 mt-3 mb-2 text-body-secondary text-uppercase">Пользователи</h6>
      <ul class="nav flex-column mb-auto">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('admin.users', page=1) }}">
            <i class="fa-solid fa-users"></i>
            <span>Пользователи</span>
          </a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <i class="fa-solid fa-users-slash"></i>
            <span>Заблокированные</span>
          </a>
        </li>
      </ul>
      <hr class="my-3">
      <h6 class="sidebar-heading px-3 mb-2 text-body-secondary text-uppercase">Прочее</h6>
      <ul class="nav flex-column mb-auto">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
              <i class="fa-solid fa-gear"></i>
            <span>Настройки</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="{{ url_for('site.index') }}">
            <i class="fa-solid fa-globe"></i>
            <span>Вернуться на сайт</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>