<footer class="py-3 mt-4 border-top">
  <div class="container d-flex flex-wrap justify-content-between align-items-center">

    <!-- Левая часть: копирайт и версия -->
    <div class="col-md-6 mb-2 mb-md-0">
      <p>© {{ current_year }}. Автор проекта: Никита Моховиков <a href="mailto:mohovikov.n@yandex.by"><small>mohovikov.n@yandex.by</small></a></p>
      <strong>Версия проекта v{{ version }}</strong>
    </div>

    <!-- Центральная часть: навигация -->
    <ul class="nav col-md-6 justify-content-end mb-2 mb-md-0">
      <li class="nav-item">
        <a href="/team" class="nav-link px-2">
          <i class="fa-solid fa-users"></i>
          <span>Команда</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/docs" class="nav-link px-2">
          <i class="fa-solid fa-wrench"></i>
          <span>Документация</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/status" class="nav-link px-2">
          <i class="fa-solid fa-signal"></i>
          <span>Статус</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://github.com/company/project" class="nav-link px-2" title="GitHub">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
