{% extends 'layouts/site.html' %}

{% set title = "Аватар" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3">{% include 'site/settings/sidebar.html' %}</div>
    <div class="col-md-9">
      <div class="card">
        <form action="{{ url_for('site.settings.avatar') }}" method="post" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <div class="card-body">
            {{ form.avatar_file(class="form-control w-50 mx-auto") }}
          </div>
          <div class="card-footer text-center">{{ form.submit(class="btn btn-sm btn-primary") }}</div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}