{% extends 'layouts/site.html' %}

{% set title = "Фон профиля" %}

{% from "_macros.html" import background %}
{% block custom_css %}
  {{ background(current_user) }}
{% endblock %}

{% block content %}
<div class="container my-3">
  <div class="row">
    <div class="col-md-3">{% include 'site/settings/sidebar.html' %}</div>
    <div class="col-md-9">
      {% if has_privilege(Privileges.USER_SPONSOR) %}
        <div class="card">
          <form action="{{ url_for('site.settings.background') }}" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="card-body text-center">
              {% if current_user.background_file %}
              <img src="{{ url_for('media', filename="user/background/"~current_user.id~"/"~current_user.background_file) }}" class="img-fluid img-thumbnail mb-3" alt="{{ current_user.username }} background">
              {% endif %}
              {{ form.background_file(accept="image/png, image/jpeg", class="form-control" + (" is-invalid" if form.background_file.errors else "")) }}
              {% if form.background_file.errors %}
              <div class="invalid-feedback">{{ form.background_file.errors[0] }}</div>
              {% endif %}
            </div>
            <div class="card-footer">{{ form.submit() }}</div>
          </form>
        </div>
      {% else %}
        <div class="card">
          <div class="card-body">{% include "_components/alerts/_sponsor_alert.html" %}</div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}