{% extends 'layouts/site.html' %}

{% set title = "Настройки" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3">{% include 'site/settings/sidebar.html' %}</div>
    <div class="col-md-9">
      <div class="card">
        <form action="{{ url_for('site.settings.profile') }}" method="post">
          {{ form.hidden_tag() }}
          <div class="card-body">
            <div class="mb-3">
              {{ form.username.label(class="form-label") }}
              {{ form.username(class="form-control", value=current_user.username, disabled=True) }}
            </div>
            <div class="mb-3">
              {{ form.email.label(class="form-label") }}
              {{ form.email(class="form-control", value=current_user.email, disabled=True) }}
            </div>
            <div class="mb-3">
              {{ form.username_aka.label(class="form-label") }}
              {{ form.username_aka(class="form-control", value=current_user.username_aka or "") }}
            </div>
            {% if has_privilege(Privileges.USER_SPONSOR) %}
            <div class="mb-0">
              {{ form.country.label(class="form-label") }}
              <select name="{{ form.country.name }}" id="{{ form.country.name }}" class="form-select">
                {% for code, name in form.country.choices %}
                <option value="{{ code }}" {% if code == current_user.country %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
              </select>
            </div>
            {% endif %}
          </div>
          <div class="card-footer text-center">{{ form.submit(class="btn btn-sm btn-primary") }}</div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}