{% extends 'layouts/admin.html' %}

{% set title = "Криптовалюты" %}

{% block content %}
<h2 class="pb-3 mb-3 text-center border-bottom">
  <i class="fa-solid fa-coins"></i>
  <span>{{ title }}</span>
</h2>

<table class="table table-striped align-middle text-center mx-auto">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Название</th>
      <th scope="col">Стоимость</th>
      <th scope="col">Создатель</th>
      <th scope="col">Статус</th>
      <th scope="col">Дата создания</th>
      <th scope="col">Дата обновления</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for cryptocurrency in cryptocurrencies %}
    <tr>
      <th scope="col">{{ cryptocurrency.id }}</th>
      <td>
        <div class="d-flex align-items-center justify-content-center gap-2">
          {% if cryptocurrency.icon_file %}
          <img src="{{ url_for('media', filename="cryptocurrency/icon/" ~ cryptocurrency.id ~ "/" ~ cryptocurrency.icon_file) }}" class="" alt="{{ cryptocurrency.name }}" width="48" height="48">
          {% endif %}
          <span class="fw-bold">{{ cryptocurrency.name }}</span>
          <span class="fw-medium">{{ cryptocurrency.symbol }}</span>
        </div>
      </td>
      <td>
        <span class="js-price" data-price="{{ cryptocurrency.price }}"></span>
      </td>
      <td>
        <a href="#">{{ cryptocurrency.creator.username }}</a>
      </td>
      <td>
        {% if cryptocurrency.is_approved %}
        <span class="badge text-bg-success">Одобрена</span>
        {% else %}
        <span class="badge text-bg-warning">На модерации</span>
        {% endif %}
      </td>
      <td>
        <time class="js-timeago" data-utc="{{ cryptocurrency.created_at }}" data-bs-toggle="tooltip"></time>
      </td>
      <td>
        <time class="js-timeago" data-utc="{{ cryptocurrency.updated_at }}" data-bs-toggle="tooltip" ></time>
      </td>
      <td>
        <div class="btn-group btn-group-sm">
          {% if cryptocurrency.is_approved %}
          <a href="{{ url_for('admin.cryptocurrency.update_price', crypto_id=cryptocurrency.id) }}" class="btn btn-info" title="Обновить курс">
            <i class="fa-solid fa-arrows-rotate"></i>
          </a>
          <a href="{{ url_for('admin.cryptocurrency.edit', crypto_id=cryptocurrency.id) }}" class="btn btn-primary" title="Редактировать">
            <i class="fa-solid fa-pencil"></i>
          </a>
          {% else %}
          <a href="#" class="btn btn-success" title="Одобрить">
            <i class="fa-solid fa-check"></i>
          </a>
          {% endif %}
          <a href="#" class="btn btn-danger" title="Удалить">
            <i class="fa-solid fa-trash"></i>
          </a>
        </div>
      </td>
    </tr>
    {% else %}
    {% endfor %}
    <tr>
      <td colspan="8">
        <a href="{{ url_for('admin.cryptocurrency.add') }}" class="btn btn-sm btn-primary">Добавить новую валюту</a>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}