{% extends 'layouts/admin.html' %}

{% set title = "Редактирование криптовалюты "~cryptocurrency.name %}

{% block content %}
<h2 class="pb-3 mb-3 text-center border-bottom">
  <i class="fa-solid fa-coins"></i>
  <span>{{ title }}</span>
</h2>
<div class="row">
  <div class="col-md-4">
    <form action="{{ url_for('admin.cryptocurrency.edit', crypto_id=cryptocurrency.id) }}" method="post" enctype="multipart/form-data">
      {{ form.csrf_token() }}
      <table class="table table-striped align-middle">
        <tbody>
          <tr>
            <td>{{ form.name.label }}</td>
            <td>{{ form.name(value=cryptocurrency.name or "") }}</td>
          </tr>
          <tr>
            <td>{{ form.symbol.label }}</td>
            <td>{{ form.symbol(value=cryptocurrency.symbol or "") }}</td>
          </tr>
          <tr>
            <td>{{ form.icon_file.label }}</td>
            <td class="text-center">
              {% if cryptocurrency.icon_file %}
              <img src="{{ url_for('media', filename="cryptocurrency/icon/" ~ cryptocurrency.id ~ "/" ~ cryptocurrency.icon_file) }}" alt="{{ cryptocurrency.name }}" class="rounded mb-2" width="128" height="128">
              {% endif %}
              {{ form.icon_file() }}
            </td>
          </tr>
          <tr>
            <td>Стоимость</td>
            <td>Обновляется каждые 6 часов</td>
          </tr>
          <tr class="text-center">
            <td colspan="2">{{ form.submit }}</td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="col-md-8">
    <canvas id="priceChart"></canvas>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  const url = "{{ url_for('admin.cryptocurrency.history', crypto_id=cryptocurrency.id) }}"
  loadChart(url)
</script>
{% endblock %}